header {
    background-image: url('./assets/background-header.png');
    height: 110vh;
    color: #ffffff;
}

H1 {
    font-family: 'Ibarra Real Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 157px;
    line-height: 196px;
    display: flex;
    align-items: center;
    letter-spacing: -0.05em;
}

h2 {
    font-family: 'Ibarra Real Nova';
    color: #C49F41;
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 112px;
    display: flex;
    align-items: center;
    letter-spacing: -0.05em;
}

.nav-link {
    color: black;
    height: 2rem;
}

.image-logo {
    width: 100px;
}